<!-- Loop over each object in the projects array -->
{{#each pets as |pet|}}
  <div class='row mb-4 project'>

    <div class='col-md-7'>
      <p>
        {{pet.name}}-{{pet.login.name}}

      </p>
    </div>
  </div>
{{/each}}