<!-- section 1: homepage intro -->
<section class='c-dTeal has-text-centered has-text-weight-semibold m-4 subtitle'>
  <p>Search for animals in the Chicagoland area with PetLink</p>
  <p>Need to find a new home for your pet? We can help with that too!</p>
  <p>Log in or sign up for a free account to get started, and learn more about our adoptable pets</p>
</section>

<!-- section 2: Adoptable Animal Cards -->
<section class='columns is-centered is-multiline is-3 m-3'>
  <!-- Loop over each object in the petData array -->
  {{#each pets as |pet|}}
    <div class='bgc-lTeal card column is-one-quarter m-3'>
      <div>
        <p class='has-text-centered is-size-3 p-2'>{{pet.name}}</p>
      </div>
      <div class='card-image'>
        <figure class='image is-4by3'>
          <img src='https://bulma.io/images/placeholders/1280x960.png' alt='Placeholder image' />
        </figure>
      </div>
      <div class='card-content has-text-centered'>
        <div class='content'>
          <a class='bgc-peach button c-dTeal has-text-weight-semibold' href='/login'>Learn More!</a>
        </div>
      </div>
    </div>

   </div>
  <button id='upload_widget' class='cloudinary-button'>Upload files</button>

  <script type='text/javascript'>
  {{/each}}
</section>  var myWidget = cloudinary.createUploadWidget({ cloudName: 'drrs0fxtr', uploadPreset: 'my_preset'}, (error, result) => { if (!error && result && result.event === "success") { console.log('Done! Here is the image info: ', result.info); } } ) document.getElementById("upload_widget").addEventListener("click", function(){ myWidget.open(); }, false);
  </script>


  <script src='https://upload-widget.cloudinary.com/global/all.js' type='text/javascript'></script>
