<!-- section 1: homepage intro -->
<section class='c-dTeal has-text-centered has-text-weight-semibold m-4 subtitle mqPh-fs1rem''>
  <p class="mqPh-mb1rem ">Search for and rehome animals in the Chicagoland area with PetLink</p>
  <p>Log in or sign up for a free account to get started, and learn more about our adoptable pets</p>
</section>

<!-- section 2: Adoptable Animal Cards -->
<section class='columns is-centered is-multiline is-3 m-3'>
  <!-- Loop over each object in the petData array -->
  {{#each pets as |pet|}}
    <div class='bgc-lTeal card column is-one-quarter m-3'>
      <div>
        <p class='has-text-centered is-size-3 p-2'>{{pet.name}}</p>
      </div>
      <div class='card-image'>
        <figure class='image is-square'>
          <img class="of-cover" src='{{pet.image}}' alt='Placeholder image' />
        </figure>
      </div>      
    </div>
   </div> 
  {{/each}}

</section>