<!-- main login -->
<div class='columns is-centered'>
  <!-- login form -->
  <div class='bgc-lTeal box column is-4 m-5'>
    <!-- <h2 class="is-size-4 has-text-centered title">LOG IN</h2> -->
    <form class='login-form-js'>
      <!-- enter email field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='email-login'>Email</label>
        <div class='control'>
          <input class='has-text-centered input is-medium' type='text' id='email-login' placeholder='e.g dblaine@magic.com' />
        </div>
      </div>
      <!-- enter password field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='password-login'>Password</label>
        <div class='control'>
          <input class='input has-text-centered is-medium' type='password' id='password-login' placeholder='e.g. streetmagic' />
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <p class='control has-text-centered'>
          <button class='button bgc-peach c-dTeal has-text-weight-semibold' type='submit'>
            Log In!
          </button>
        </p>
      </div>
    </form>
  </div>

  <!-- sign up form -->
  <div class='bgc-lTeal box column is-4 m-5'>
    <!-- <h2 class="is-size-4 has-text-centered title">LOG IN</h2> -->
    <form class='signup-form-js'>
      <!-- enter name field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='name-signup'>Name</label>
        <div class='control'>
          <input class='has-text-centered input is-medium' type='text' id='name-signup' placeholder='e.g David Blaine' />
        </div>
      </div>
      <!-- enter email field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='email-signup'>Email</label>
        <div class='control'>
          <input class='has-text-centered input is-medium' type='text' id='email-signup' placeholder='e.g dblaine@magic.com' />
        </div>
      </div>
      <!-- enter password field -->
      <div class='field'>
        <label class='has-text-centered is-medium label' for='password-signup'>Password</label>
        <div class='control'>
          <input class='input has-text-centered is-medium' type='password' id='password-signup' placeholder='e.g. streetmagic' />
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <p class='control has-text-centered'>
          <button class='button bgc-peach c-dTeal has-text-weight-semibold' type='submit'>
            Sign Up!
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

{{! snackbar div to temporarily show error if login or sign up are not sucessful }}
<div id='snackbar'></div>

<script src='./js/login.js'></script>