<!-- {{! Header }}
{{! Logo on the left and maybe an animal picture across the rest }} -->
<header>
  <div>Logo Goes On The Left</div>
  <div>An animal picture might go here</div>
</header>
<!-- {{! Navbar }}
{{! Button to search for pets on the left and link to add a pet to rehome on the right }} -->
<nav>
  <!-- TODO: link to add a pet to rehome page when that page exists -->
  <a href=''>Add A Pet To Rehome</a>
</nav>

<!-- {{! city input}} -->
<form action=''>
  <div>
    <input type='text' id='cityInput' placeholder='Enter City Here' />

  </div>

  <!-- Four Dropdown menus -->

  <!-- {{! Dropdown menu for Species }} -->
  <select id='dropdownSpecies'>
    <option value='species' selected>Species</option>
    <option value='dog'>dog</option>
    <option value='cat'>cat</option>
  </select>

  <!-- {{! Dropdown menu for Age }} -->
  <select id='dropdownAge'>
    <option value='age' selected>Age</option>
    <option value='puppyKitten'>puppy/kitten</option>
    <option value='youngAdult'>young adult (1-2 years)</option>
    <option value='adult'>adult (3-6 years)</option>
    <option value='mature'>mature (7-10 years)</option>
    <option value='senior'>senior (11-14 years)</option>
    <option value='geriatric'>geriatric (15+ years)</option>
  </select>

  <!-- {{! Dropdown menu for Sex }} -->
  <select id='dropdownSex'>
    <option value='sex' selected>Sex</option>
    <option value='female'>female</option>
    <option value='male'>male</option>
  </select>

  <!-- {{! Dropdown menu for Size }} -->
  <select id='dropdownSize'>
    <option value='size' selected>Size</option>
    <option value='xsmall'>x-small (8lbs or less)</option>
    <option value='small'>small (9-25lbs)</option>
    <option value='medium'>medium (24-55lbs)-</option>
    <option value='large'>large (60-85lbs)-</option>
    <option value='xlarge'>x-large (85lbs+)-</option>

  </select>

  <button id='searchForPetsBtn' type='submit'>Search For Pets</button>
</form>

<!-- {{! Pet Cards }}
{{! Will loop through the returned array of pet objects and create cards for each pet }} -->
<div id='searchedPetCards'>

</div>

<script src='./js/petsearch.js'></script>