{{! Header }}
{{! Logo on the left and maybe an animal picture across the rest }}
<header>
  <div>Logo Goes On The Left</div>
  <div>An animal picture might go here</div>
</header>
{{! Navbar }}
{{! Button to search for pets on the left and button to add a pet to rehome on the right }}
<nav>
  <button id='searchForPetsBtn'>Search For Pets</button>
  <button id='addAPetToRehomeBtn'>Add A Pet To Rehome</button>
</nav>

{{! Row of city input and four dropdown menus }}

<input type='text' id='cityInput' />

{{! Dropdown menu for Species }}

{{! Dropdown menu for Age }}

{{! Dropdown menu for Sex }}

{{! Dropdown menu for Size }}

{{! Pet Cards }}
{{! Will loop through the returned array of pet objects and create cards for each pet }}