<!-- welcome and prompt -->
<div class='m-4'>
  <h2 class='c-dTeal has-text-centered title'>Search For Pets</h2>
  <p class='c-dTeal has-text-centered subtitle'>Enter Your search criteria below to find Chicagoland pets looking for new homes!</p>
</div>

<!--! city input -->
<form action='' class='columns is-centered mPh-ml1rem mPh-mr1rem'>
  <div class='column is-2 offset-1'>
    <div class='field'>
      <input class='control input' id='cityInput' type='text' placeholder='Enter City Here' />
    </div>
  </div>

  <!-- Four Dropdown menus -->
  <!--! Dropdown menu for Species -->
  <div class='column is-2'>
    <div class='field select w-100'>
      <select class='control w-100' id='dropdownSpecies'>
        <option value='' disabled selected>Species</option>
        <option value='dog'>dog</option>
        <option value='cat'>cat</option>
      </select>
    </div>
  </div>

  <!--! Dropdown menu for Age -->
  <div class='column is-2'>
    <div class='field select w-100'>
      <select class='control w-100' id='dropdownAge'>
        <option value='' disabled selected>Age</option>
        <option value='puppy'>puppy</option>
        <option value='kitten'>kitten</option>
        <option value='youngAdult'>young adult (1-2 years)</option>
        <option value='adult'>adult (3-6 years)</option>
        <option value='mature'>mature (7-10 years)</option>
        <option value='senior'>senior (11-14 years)</option>
        <option value='geriatric'>geriatric (15+ years)</option>
      </select>
    </div>
  </div>

  <!--! Dropdown menu for Sex -->
  <div class='column is-2'>
    <div class='field select w-100'>
      <select class='control w-100' id='dropdownSex'>
        <option value='' disabled selected>Sex</option>
        <option value='female'>female</option>
        <option value='male'>male</option>
      </select>
    </div>
  </div>

  <!--! Dropdown menu for Size -->
  <div class='column is-2'>
    <div class='field select w-100'>
      <select class='control w-100' id='dropdownSize'>
        <option value='' disabled selected>Size</option>
        <option value='xsmall'>x-small (8lbs or less)</option>
        <option value='small'>small (9-25lbs)</option>
        <option value='medium'>medium (24-55lbs)-</option>
        <option value='large'>large (60-85lbs)-</option>
        <option value='xlarge'>x-large (85lbs+)-</option>
      </select>
    </div>
  </div>

  <!-- submit button -->
  <div class='column is-1'>
    <div class='field'>
      <p class='control'>
        <button class='button' id='searchForPetsBtn' type='submit'>
          Go!
        </button>
      </p>
    </div>
  </div>
</form>

<section class='columns is-centered is-multiline is-3 m-3' id='searchedPetCards'>

</section>

<script src='./js/petsearch.js'></script>