<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Add a pet to rehome:</h3>

    <div class='form' id='new-pet-form'>

      <div class='form-group'>
        <label for='pet-name'>pet name:</label>
        <input class='form-input' type='text' id='pet-name' name='pet-name' />
      </div>

      <div class='form-group'>
        <label for='pet-species'>pet species:</label>
        <select id='pet-species' name='pet-species'>
          <option value='' disabled selected>Species</option>
          <option value='dog'>dog</option>
          <option value='cat'>cat</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='pet-breed'>breed:</label>
        <textarea class='form-input' id='pet-breed' name='pet-breed'></textarea>
      </div>

      <div class='form-group'>
        <label for='pet-sex'>sex:</label>
        <select id='pet-sex' name='pet-sex'>
          <option value='' disabled selected>Sex</option>
          <option value='female'>female</option>
          <option value='male'>male</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='pet-age'>age:</label>
        <select id='pet-age' name='pet-age'>
          <option value='' disabled selected>Age</option>
          <option value='puppyKitten'>puppy/kitten</option>
          <option value='youngAdult'>young adult (1-2 years)</option>
          <option value='adult'>adult (3-6 years)</option>
          <option value='mature'>mature (7-10 years)</option>
          <option value='senior'>senior (11-14 years)</option>
          <option value='geriatric'>geriatric (15+ years)</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='pet-size'>size:</label>
        <select id='pet-size' name='pet-size'>
          <option value='' disabled selected>Size</option>
          <option value='xsmall'>x-small (8lbs or less)</option>
          <option value='small'>small (9-25lbs)</option>
          <option value='medium'>medium (24-55lbs)-</option>
          <option value='large'>large (60-85lbs)-</option>
          <option value='xlarge'>x-large (85lbs+)-</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='pet-city'>city:</label>
        <textarea class='form-input' id='pet-city' name='pet-city'></textarea>
      </div>
      <!----->
      <button id='upload_widget' class='cloudinary-button'>Upload files</button>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary' id='addPetBtn'>Add Pet</button>
      </div>
    </div>

    <div id='petAddError' class='hidden'>Please fill out and select options for all fields to add a pet.</div>
  </div>

  {{#if pets.length}}
    <div class='col-md-6' id='pet-list'>
      <h3>My Pets To Rehome:</h3>

      {{#each pets as |pet|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/pets/{{pet.id}}'>{{pet.name}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button class='btn btn-sm btn-danger' data-id='{{pet.id}}'>DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='https://upload-widget.cloudinary.com/global/all.js'></script>
<script src='/js/profile.js'></script>