{{! welcome and directions }}
<div class='m-4'>
  <h2 class='c-dTeal has-text-centered title'>Welcome, {{name}}!</h2>
  <p class='c-dTeal has-text-centered subtitle'>Please fill out the information below to add a pet to rehome.</p>
</div>

{{! form with inputs and dropdown menus }}
<div class='bgc-lTeal br-15 form columns is-multiline mx-5 my-3' id='new-pet-form'>
  {{! column 1 }}
  {{! pet city input }}
  <div action='' class='column is-half is-offset-one-quarter'>
    <div class='field'>
      <input class='control input' id='pet-city' name='pet-city' type='text' placeholder='Enter Pet Location (City)' />
    </div>
  </div>

  {{! column 2 }}
  {{! pet name input }}
  <div action='' class='column is-half is-offset-one-quarter'>
    <div class='field'>
      <input class='control input' id='pet-name' name='pet-name' type='text' placeholder='Enter Pet Name' />
    </div>

    {{! nested column 2.1 }}
    <div class='columns'>
      {{! pet species dropdown }}
      <div class='column is-3'>
        <div class='field select w-100'>
          <select class='control w-100' id='pet-species' name='pet-species'>
            <option value='' disabled selected>Species</option>
            <option value='dog'>dog</option>
            <option value='cat'>cat</option>
          </select>
        </div>
      </div>

      {{! pet breed input }}
      <div class='column is-5'>
        <div class='field'>
          <input class='control input' id='pet-breed' name='pet-breed' type='text' placeholder='Enter Pet Breed' />
        </div>
      </div>
    </div>

    {{! nested column 2.2 }}
    <div class='columns'>
      {{! pet sex dropdown }}
      <div class='column is-3'>
        <div class='field select w-100'>
          <select class='control w-100' id='pet-sex' name='pet-sex'>
            <option value='' disabled selected>Sex</option>
            <option value='female'>female</option>
            <option value='male'>male</option>
          </select>
        </div>
      </div>

      <div class='column is-3'>
        {{! pet age dropdown }}
        <div class='field select w-100'>
          <select class='control w-100' id='pet-age' name='pet-age'>
            <option value='' disabled selected>Age</option>
            <option value='puppy'>puppy</option>
            <option value='kitten'>kitten</option>
            <option value='youngAdult'>young adult (1-2 years)</option>
            <option value='adult'>adult (3-6 years)</option>
            <option value='mature'>mature (7-10 years)</option>
            <option value='senior'>senior (11-14 years)</option>
            <option value='geriatric'>geriatric (15+ years)</option>
          </select>
        </div>
      </div>

      <div class='column is-3'>
        {{! pet size dropdown }}
        <div class='field select w-100'>
          <select class='control w-100' id='pet-size' name='pet-size'>
            <option value='' disabled selected>Size</option>
            <option value='xsmall'>x-small (8lbs or less)</option>
            <option value='small'>small (9-25lbs)</option>
            <option value='medium'>medium (24-55lbs)-</option>
            <option value='large'>large (60-85lbs)-</option>
            <option value='xlarge'>x-large (85lbs+)-</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  {{! cloudinary widget }}
  <div action='' class='column is-half is-offset-one-quarter'>
    <div class='mt-2'>
      <button id='upload_widget' class='button'>Upload Image</button>
    </div>
  </div>

  <div action='' class='columns is-centered'>
    <div class='mt-2'>
      <div id='imageUploadVerification' class='mt-2 c-dTeal has-text-centered'></div>
    </div>
  </div>

  {{! add pet button }}
  <div action='' class='column is-half is-offset-one-quarter'>
    <div class='mt-4'>
      <button type='submit' class='bgc-peach c-dTeal button has-text-weight-semibold' id='addPetBtn'>Add Pet!</button>
    </div>
  </div>
</div>

{{! list of user's pets to rehome }}
{{#if pets.length}}
  <div class='bgc-dTeal br-15 mx-5 my-3' id='pet-list'>
    <h2 class='c-eggshell has-text-centered p-3 title'>My Pets To Rehome:</h2>
    <div class='columns is-centered m-3'>
      {{#each pets as |pet|}}

        <div class='bgc-lTeal card column is-3 m-4'>
          <div>
            <p class='has-text-centered is-size-3 p-2'>{{pet.name}}</p>
          </div>
          <div class='card-image'>
            <figure class='image is-square'>
              <img class='of-cover' src='{{pet.image}}' alt='Placeholder image' />
            </figure>
          </div>
          <div class='columns is-centered is-mobile'>
            <div class='column is-6 my-3'>
              <button class='bgc-peach button c-dTeal has-text-weight-semibold is-medium' data-id='{{pet.id}}'>DELETE</button>
            </div>
          </div>
        </div>

      {{/each}}
    </div>
  </div>
{{/if}}

{{! snackbar div to temporarily show error if all inputs are not filled in or dropdowns selected }}
<div id='snackbar'></div>

<script src='https://upload-widget.cloudinary.com/global/all.js'></script>
<script src='/js/profile.js'></script>